
$color-primario: #c5c0c09c;
$color-secundario: #eeeeeec5;
.subtitulogaleria {
    font-size: 25px;
    color: #ccc;
    font-family: 'Courier New', Courier, monospace;
    margin: 1%;
    text-align: center;
  }
.parrafocontacto {
    font-family: 'Dancing Script', cursive;
    font-size: 33px;
    margin: 0%;
    text-align: center;
    color: #fffbfb;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .form-container {
    flex: 1;
    margin-right: 2rem;
  }
  .image-container {
    flex: 1;
    text-align: center;
  }
  
  
  .textoform {
    margin: 15px;
  } 

  .form {
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    color: $color-primario;
    text-align: center;
    font-style: italic;
    margin: 2rem;
    padding: 2rem;
    box-shadow: 0px 0px 1px 1px white;
  }
  
  

  input[type="text"] {
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
    padding: 5px;
    outline: none;
    color: $color-secundario;
    
    &:focus {
      border-bottom-color: #000;
    }
  }
  
  
  @media (max-width: 480px) {
    .titulo {
      font-size: 10px;

    }

    .container {
      flex-direction: column;
    }
  
    .form-container {
      margin-right: 0;
      margin-bottom: 2rem;
      
    }
  
  .subtitulogaleria{
    font-size: 16px;
  }

    .form {
      margin: 2rem;
      padding: 2rem;
    }
  
    .form label,
    .form input,
    .form textarea,
    .form input[type="button"],
    .form input[type="reset"] {
      width: 100%;
      box-sizing: border-box;
    }
  
    .form input[type="button"],
    .form input[type="reset"] {
      margin-top: 1rem;
    }
  
  }
  