
$color-primario: #c5c0c0;
$color-secundario: #eee;
.subtitulogaleria {
    font-size: 25px;
    color: #ccc;
    font-family: 'Courier New', Courier, monospace;
    margin: 1%;
    text-align: center;
  }
.parrafocontacto {
    font-family: 'Dancing Script', cursive;
    font-size: 33px;
    margin: 0%;
    text-align: center;
    color: #000;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .form-container {
    flex: 1;
    margin-right: 2rem;
  }
  .image-container {
    flex: 1;
    text-align: center;
  }
  
  .image-container img {
    max-width: 100%;
    height: auto;
  }
  
  .form {
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    color: $color-primario;
    text-align: center;
    font-style: italic;
    margin: 2rem;
    padding: 2rem;
    box-shadow: 0px 0px 1px 1px white;
  }
  
  
  @media (max-width: 480px) {
    .container {
      flex-direction: column;
    }
  
    .form-container {
      margin-right: 0;
      margin-bottom: 2rem;
    }
  
    .image-container {
      text-align: center;
      margin-bottom: 2rem;
    }
  
    .form {
      margin: 2rem;
      padding: 2rem;
    }
  
    .form label,
    .form input,
    .form textarea,
    .form input[type="button"],
    .form input[type="reset"] {
      width: 100%;
      box-sizing: border-box;
    }
  
    .form input[type="button"],
    .form input[type="reset"] {
      margin-top: 1rem;
    }
  
    .form img {
      max-width: 100%;
      height: auto;
    }
  }
  